
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');

/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
	box-sizing: border-box;
}

.col-one	{ width: 8.333%; }
.col-two	{ width: 16.666%; }
.col-three	{ width: 25%; }
.col-four	{ width: 33.333%; }
.col-five	{ width: 41.666%; }
.col-six	{ width: 50%; }
.col-seven	{ width: 58.333%; }
.col-eight	{ width: 66.666%; }
.col-nine	{ width: 75%; }
.col-ten	{ width: 83.333%; }
.col-eleven	{ width: 91.666%; }




html, body{
	width: 100%;
	margin: 0; padding: 0; border: 0;
	background: #ddd;
	font-family: 'Open Sans', sans-serif;
}

body{
	height: 100%;
}

header{
	background: #eee;
	position: fixed; top: 0; left: 0; right: 0; height: 127px;
	border-bottom: 1px dashed white;
}

header div{
	float: right;
}

nav{
	background: #eee;
	position: fixed; top: 128px; bottom: 0;
	/*float: left; clear: both;*/
	min-height: 64px; border-right: 1px dashed white;
}

nav ul#menu{
	list-style: none;
	text-align: right;
	padding: 0;
	margin: 3em 0 0;
}

nav ul#menu li{
	padding: 0.5em 2em 0.5em 1em;
	margin: 0;
	cursor: pointer;
}

nav ul#menu li:hover{
	background: hsla(40, 100%, 50%, 0.5);
}

nav ul#menu li.active{
	color: white;
	background: hsla(40, 100%, 50%, 1);
}

nav ul#tags{
	list-style: none;
}

nav ul#tags::before{
	content: attr(title);
	display: block;
	margin: 3em 0 0;
	text-align: center;
}

nav ul#tags li{
	font-size: smaller;
	display: inline;
	text-decoration: underline;
}

main{
	padding: 128px 0 16px 18.666%;
	overflow: hidden;
	height: 100%;
	padding-bottom: 5em;
}

#profile{
	border-radius: 100%;
	background-size: cover;
	width: 88px; height: 88px;
	margin: auto;
	margin-top: -48px;
	border: 4px solid white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#profile + p{
	margin: 0 1em;
	text-align: center;
}

section{
	clear: both;
	padding: 3em 0;
}

section:before{
	content: attr(title);
	display: block;
	font-size: large;
	font-weight: bold;
	padding: 3em 0 1em;
}

article{
	width: 20%;
	padding: 0.5em 2%;
	border: 4px solid #ddd;
	min-height: 128px;
	float: left;
	overflow: hidden;
}

article .title{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

article:first-child{
	width: 40%; height: 256px;
}

article:first-child + article{
	width: 40%;
}

article:nth-child(4n+1){
	margin-left: 0;
}

article:nth-child(4n){
	margin-right: 0;
}

footer{
	clear: both;
	background: #333;
	box-shadow: inset #111 0 32px 64px -32px;
	min-height: 128px;
}

.button-new{
	color: white;
	background: hsla(280, 100%, 50%, 1);
	text-shadow: hsla(280, 100%, 25%, 1) 0 1px 2px;
}
