<!doctype html>
<html ng-app="ngHomebrew">
<head>
<title>Homebrew.io</title>
<meta charset="utf-8">

<!-- WISYWIG Editor style. -->
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_style.min.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" name="default stylesheet"/>
<link rel="stylesheet" href="style.css" name="default stylesheet"/>

<!-- WISYWIG JS file. -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/froala_editor.min.js'></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="script.js"></script>

</head>
<body ng-controller="homebrewController">
	<header>
		<div>
			<form id="login" ng-if="isLoggedIn">
				<input type="text" id="login-name" placeholder="e-mail"/>
				<input type="password" id="login-pass" placeholder="password"/>
				<button>log in</button>
			</form>
			<div ng-if="!isLoggedIn">
				Settings | Profile | My Gallery
			</div>
		</div>
	</header>
	<nav class="col-two">
		<div id="profile" style="background: url({{user.avatar}}) center center no-repeat;"></div>
		<p>{{user.name}}</p>
		<ul id="menu">
			<li>Items</li>
			<li>Characters</li>
			<li>Stories</li>
			<li>Places</li>
			<li>Rules</li>
			<li class="button-new">+ Create</li>
		</ul>
		<ul id="tags" title="Popular Tags">
			<li>Solar</li>
			<li>Sidereal</li>
			<li>Artifact</li>
			<li>Charm</li>
		</ul>
	</nav>
	<main>
		<section title="Popular Places">
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
		</section>
		<section title="Popular Artifacts">
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
		</section>
		<section title="Popular Characters">
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="place"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="story"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="artifact"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
			<article class="character"> Lorem Ipsum dolor sit amet somthign that I though would be interesting to write here would normally go here for real though.</article>
		</section>
	</main>
	<footer></footer>
</body>
</html>